---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<div class="talk-item">
  <h2>PyMCon 2023</h2>
  <p><a href="https://discourse.pymc.io/t/new-pymcon-talk-the-only-constant-is-change-bespoke-changepoint-modelling-in-pymc-by-abuzar-mahmood/13251">
  The Only Constant is Change - Bespoke Changepoint Modelling in PyMC
  </a></p>
  <p>A presentation on implementing custom changepoint models using PyMC for Bayesian inference.</p>
</div>

<div class="talk-list">
  <h2>Recent Presentations</h2>
  <ul>
    <li>Basolateral Amygdala and Gustatory Cortex Interact Bidirectionally during Taste Processing in Rodents, Swartz Foundation Annual Meeting, WA 2024</li>
    <li>Brandeis Neuro PostDoc Symposium, Waltham, MA 2024</li>
    <li>Polak Young Investigator Award Lecture, Association for Chemoreception Sciences Annual Meeting, FL 2024</li>
    <li>The only constant is change: Bespoke changepoint modelling in PyMC, PyMCon [Talk and Code] 2023</li>
    <li>An Intro to Bayesian Modelling and Probabilistic Programming, Brandeis University, MA 2022</li>
    <li>Gustatory Cortex And Basolateral Amygdala Coordination In Taste Processing, Brandeis University Mar, Oct, 2021</li>
    <li>Gustatory Cortex and Basolateral Amygdala Communication in Innate Taste Processing, NIH Blueprint Joint Symposium on Computational Neuroscience 2021</li>
    <li>Role Of Gustatory Cortex And Basolateral Amygdala Communication In Taste Processing, Brandeis University 2020</li>
    <li>The Nonlinear Population Dynamics of Cortical Taste Processing, Systems/Computational Neuroscience Journal Club, Brandeis University, MA 2019</li>
  </ul>
</div>

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
